.root {
     -fx-background-image: url("background.png");
     -fx-background-size: cover;    
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
 /*  .label .text {
   
    -fx-stroke: white;
    -fx-stroke-width: 0.8px;
}*/
.menu-item .label{
    -fx-text-fill: black;
}
.table-view .label{
    -fx-text-fill: black;
}

.dialog-pane .label {
    -fx-text-fill: black;
}
.menu-button .label {
 -fx-text-fill:black; 
 }
#Headline {
   -fx-font-size: 40px;
   -fx-font-family: "AR CENA";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , #ffd700 , 6, 0.0 , 0 , 2 );
}

#test {
	-fx-font-size: 15px;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffd700, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}